// General
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// LAYOUT
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}
